

.colorNuevo{
    background-color: rgb(202, 173, 229);
}

.div{
    background-color: rgb(236, 225, 163);
    
    
}

.carrusel{
    
    width: 500px;
    
}

.div2{
    
    background-color: rgb(236, 225, 163);
    padding: 30px;
    
}
.footer{
    background-color: rgb(202, 173, 229);
    height: 160px;
    padding: 10px;
}